In [1]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Task 06 – SQLite + Python Sales Analysis\n",
    "\n",
    "This notebook demonstrates how to:\n",
    "- Create / connect to an SQLite database\n",
    "- Insert simple sales data into a table\n",
    "- Run an SQL query from Python using `sqlite3`\n",
    "- Load results into a pandas DataFrame\n",
    "- Visualize revenue by product using `matplotlib`.\n",
    "\n",
    "> Designed to work smoothly in VS Code Jupyter environment. The database file `sales_data.db` will be created in the **same folder as this notebook**."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "import sqlite3\n",
    "import pandas as pd\n",
    "import matplotlib.pyplot as plt\n",
    "\n",
    "%matplotlib inline"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 1. Create / connect to the SQLite database and insert sample data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# This will create a file named 'sales_data.db' in the same folder as the notebook\n",
    "conn = sqlite3.connect('sales_data.db')\n",
    "cursor = conn.cursor()\n",
    "\n",
    "# Create table (if it does not already exist)\n",
    "cursor.execute('''\n",
    "CREATE TABLE IF NOT EXISTS sales (\n",
    "    product TEXT,\n",
    "    quantity INTEGER,\n",
    "    price REAL\n",
    ");\n",
    "''')\n",
    "\n",
    "# Optional: clear old data for repeatable runs\n",
    "cursor.execute('DELETE FROM sales')\n",
    "\n",
    "# Insert sample rows\n",
    "sample_data = [\n",
    "    ('Milk', 10, 30),\n",
    "    ('Bread', 5, 20),\n",
    "    ('Eggs', 12, 12),\n",
    "    ('Butter', 4, 50),\n",
    "    ('Cheese', 6, 40),\n",
    "]\n",
    "\n",
    "cursor.executemany('INSERT INTO sales VALUES (?, ?, ?)', sample_data)\n",
    "conn.commit()\n",
    "print('Inserted sample data into sales table.')"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 2. Query the database and load results into pandas"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "query = '''\n",
    "SELECT \n",
    "    product,\n",
    "    SUM(quantity) AS total_quantity,\n",
    "    SUM(quantity * price) AS total_revenue\n",
    "FROM sales\n",
    "GROUP BY product\n",
    "ORDER BY total_revenue DESC;\n",
    "'''\n",
    "\n",
    "df = pd.read_sql_query(query, conn)\n",
    "print('Sales summary:')\n",
    "df"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 3. Visualize revenue by product"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "plt.figure(figsize=(8,5))\n",
    "plt.bar(df['product'], df['total_revenue'], color='skyblue')\n",
    "plt.title('Revenue by Product')\n",
    "plt.xlabel('Product')\n",
    "plt.ylabel('Revenue (₹)')\n",
    "plt.grid(axis='y', linestyle='--', alpha=0.5)\n",
    "plt.show()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## 4. Close the database connection"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "conn.close()\n",
    "print('Connection closed.')"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "name": "python",
   "version": "3.x"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

NameError: name 'null' is not defined